.card {
    background-color: #dcbc81e2;
    height: 400px;     
    width: 500px;
    border-radius: 15px;
    margin: 0 auto;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.image {
    border-radius: 100px;
}